body{
    background: bisque;
}
.main{
    font-size: 120px;
    color: aqua;
}
.button{
    padding: 20px 70px;
    background: aquamarine;
    margin-top: 10PX;
    display:inline-block;
    border: 5px;
    border-color: black;
    border-radius: 2px;
}
a{
    text-decoration: none;

}
